csl-mlz.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace cs = "http://purl.org/net/xbiblio/csl"
namespace dc = "http://purl.org/dc/elements/1.1/"

dc:title [ "Citation Style Language Schema - Relaxed" ]
dc:creator [ "Bruce D'Arcus" ]
dc:rights [ "Permission to freely use, copy and distribute." ]
dc:description [
    "Relaxes the need for a cs:updated value in the official CSL schema."
]

include "csl-jurisdictions.rnc"
include "official-schema/csl.rnc"{

    version = attribute version { "1.1mlz1" }

    localized-options =
        element cs:style-options {
        
            ## Specify whether punctuation (a period or comma) is placed within
            ## or outside (default) the closing quotation mark.
            [ a:defaultValue = "false" ]
            attribute punctuation-in-quote { xsd:boolean }?,

            ## Resets the default list of skip-words. List is space-delimited list of arbitrary strings.
            attribute skip-words { text }?
        }

    ## Add support for locale-specific layouts
    citation = element cs:citation {
        (citation-options & sort?),
        citation-layout-locale*,
        citation-layout-default
    }
    bibliography = element cs:bibliography {
        (bibliography-options & sort?),
        bibliography-layout-locale*,
        bibliography-layout-default
    }
   
    ## Allow cs:institution element as child of cs:names
    names =
        element cs:names {
            names-attributes,
            ((name?, et-al?, institution?) & name-label*),
            substitute?
        }

    ## Allow "label-form" attribute to accompany "macro" on cs:text
    ## Allow "leading-noise-words" attribute to accompany "variable" on cs:text
    cs-text =
        ## Use to call macros, render variables, terms, or verbatim text.
        element cs:text {
            affixes,
            display,
            font-formatting,
            quotes,
            strip-periods,
            text-case,
            ((
             ## Select a macro.
             attribute macro { xsd:NMTOKEN },
             attribute label-form { cs-term-forms }?)
             | (
                ## Select a term.
                attribute term { cs-terms },
                
                [ a:defaultValue = "long" ]
                attribute form { cs-term-forms }?,
                
                ## Specify term plurality: singular ("false") or plural ("true").
                [ a:defaultValue = "false" ]
                attribute plural { xsd:boolean }?)
             |
               ## Specify verbatim text.
               attribute value { text }
             | (
                ## Select a variable.
                attribute variable { cs-variables },
                
                [ a:defaultValue = "long" ]
                attribute form { "short" | "long" }?,
                
                attribute leading-noise-words { "drop" | "demote" }?))
        }
    
    ## Allow "locator" variable on, add "label-form" attribute to cs:number
    cs-number =
        ## Use to render a number variable.
        element cs:number {
            affixes,
            display,
            font-formatting,
            text-case,
            attribute variable { cs-numbers | "locator" },
            
            ## Number forms: "numeric" ("4"), "ordinal" ("4th"), "long-ordinal"
            ## ("fourth"), "roman" ("iv").
            [ a:defaultValue = "numeric" ]
            attribute form { "numeric" | "ordinal" | "long-ordinal" | "roman" }?,
            
            attribute label-form { cs-term-forms }?
        }

    ## Add "is-parallel" attribute on cs:group
    group =
        ## Use to group rendering elements. Groups are useful for setting a
        ## delimiter for the group children, for organizing the layout of
        ## bibliographic entries (using the "display" attribute), and for
        ## suppressing the rendering of terms and verbatim text when variables
        ## are empty.
        element cs:group {
            affixes,
            quotes,
            display,
            attribute subgroup-delimiter { text }?,
            attribute subgroup-delimiter-precedes-last { "contextual" | "always" | "never" }?,
            attribute oops { text }?,
            font-formatting,
            delimiter,
            attribute is-parallel { xsd:boolean }?,
            cs-element+
        }

    ##Add year-range-format attribute on cs:style
    style-options =
        demote-non-dropping-particle-opt,
        initialize-with-hyphen-opt,
        page-range-format-opt,
        year-range-format-opt,
        name-opt,
        names-opt
        
    ## Separate standard variables from number variables
    cs-variables =
        cs-strings
        | cs-numbers

    ## Add "normal" value on text-case attribute
    text-case =
        attribute text-case {
            
            ## display all text as lowercase
            "lowercase"
            |
              ## display all text as uppercase
              "uppercase"
            |
              ## capitalize first character; other characters
              ## displayed as is
              "capitalize-first"
            |
              ## capitalize first character of every word;
              ## other characters displayed lowercase
              "capitalize-all"
            |
              ## display as title case (the Chicago Manual
              ## of Style calls this "headline style")
              "title"
            |
              ## display as sentence case/sentence style
              "sentence"
            |
              ## do not perform formatting operations on input
              "normal"
        }?
}

## Institution, used to format institutional subunit names
## Institutional subunit names always follow personal names
## when this element is included in cs:names
institution =
    element cs:institution {
        institution-attributes,
        ## formatting and affixes of long and short
        ## forms may be controlled individually
        element cs:institution-part {
            ( ( attribute name { "long" },
                ## apply formatting to long form only
                ## if short form is also available
                attribute if-short { "true" | "false" }? )
              | attribute name { "short" }
            ),
            text-case,
            strip-periods,
            font-formatting,
            affixes
        }*
    }

## Attributes for use in formatting institution names
institution-attributes =
    delimiter?,
    attribute form { "long" | "short" }?,
    attribute part-separator { text }?,
    ## The order of institution subunits can be reversed
    attribute reverse-order { "true" | "false" }?,
    (
      ## Include the first n institutional subunit names,
      ## even when a personal name is also present
      attribute use-first { xsd:integer }
      |
      ## Include the first n institutional subunit names
      ## only if no personal names are present
        attribute substitute-use-first { xsd:integer }
    )?,
    ## Always include the last n institutional subunit names,
    ## after first dropping subunits with stop-last
    attribute use-last { xsd:integer }?,
    ## Always ignore the last n institutional subunit names
    attribute stop-last { xsd:integer }?,
    ## Controls which forms of an institutional subunit name
    ## to include
    attribute institution-parts { "long" | "short" | "long-short" | "short-long" }?
    
## Abbreviation setting of ranges in year dates
## (by default no reformatting is applied to the input data).
year-range-format-opt =
    attribute year-range-format { "expanded" | "minimal" | "minimal-two" | "chicago" }?
    
## Add condition tests
condition |=
    ## Tests whether the statement containing the condition is being
    ## executed inside cs:citation or cs:bibliography
    attribute context { "citation" | "bibliography" }
    |
      ## False if no date value, or date contains a month or season.
      attribute has-year-only {
          list { cs-dates+ }
      }
    |
      ## False if no date value, no month or season value, or date contains a day.
      attribute has-month-or-season-only {
          list { cs-dates+ }
      }
    |
      ## False if no date value, no month value, or no day value.
      attribute has-day {
          list { cs-dates+ }
      }
    |
      attribute is-plural { cs-names }
    |
      ## Tests whether the jurisdiction variable matches the given jurisdictions
      attribute jurisdiction {
          list { jurisdictions+ }
      }
    |
      ## Tests whether the page label matches the given label
      attribute page {
          list { cs-terms.locator+ }
      }
    |
      attribute subjurisdictions { xsd:integer }

## Add support for locale-specific layouts
citation-layout-locale = element cs:layout { affixes, font-formatting, delimiter, cs-element, layout-locale }
citation-layout-default = element cs:layout { affixes, font-formatting, delimiter, cs-element }

## Add support for locale-specific layouts, cs:generate
bibliography-layout-locale = element cs:layout { affixes, font-formatting, layout-locale, cs-generate, cs-element }
bibliography-layout-default = element cs:layout { affixes, font-formatting, cs-generate?, cs-element }

cs-generate = element cs:generate {
    attribute type-map {
        list { (cs-types, cs-types) }
    },
    attribute trigger-fields {
        list { cs-variables+ }
    }
}+

layout-locale = attribute locale {
    list { xsd:language+ }
}

## Modifications to contents csl-terms.rnc
div {
  ## Add miscellaneous terms
  cs-terms |=
    "unpublished"

  ## Add support for extended ordinal terms
  cs-terms.gender-variants |=
    ## Extended ordinal terms
    xsd:string { pattern = "ordinal\-\d{2,4}" }
  
  ## Add locator terms
  cs-terms.locator |=
    "Chapter"
    | "rule"
    | "Section"
    | "title"

  ## Add non-locator terms accompanying number variables
  cs-terms.non-locator-number-variables |=
    "supplement"
    |
      ## Extended numeric terms
      xsd:string { pattern = "(chapter\-number|collection\-number|edition|issue|note|number|number\-of\-volumes|page|section|volume|)\-\d{2}" }
}

## Modifications to contents csl-types.rnc
div {
  ## Add item types
  cs-types |=
    "classic"
    | "gazette"
    | "periodical"
    | "regulation"
    | "video"
}

## Modifications to contents csl-variables.rnc
div {
  ## Add name variables
  cs-names |=
    "authority"
    | "director"

  ## Add date variables
  cs-dates |=
    "locator-date"

  ## Add number variables
  cs-numbers |=
    "page"
    | "page-first"
    | "supplement"

  ## standard variables
  cs-strings =
    "abstract"
    | "annote"
    | "archive"
    | "archive_location"
    | "archive-place"
    | "call-number"
    | "citation-label"
    | "citation-number"
    | "collection-title"
    | "container-title"
    | "DOI"
    | "event"
    | "event-place"
    | "first-reference-note-number"
    | "genre"
    | "hereinafter"
    | "ISBN"
    | "jurisdiction"
    | "keyword"
    | "locator"
    | "locator-revision"
    | "medium"
    | "note"
    | "number"
    | "original-publisher"
    | "original-publisher-place"
    | "original-title"
    | "publisher"
    | "publisher-place"
    | "references"
    | "section"
    | "status"
    | "title"
    | "title-short"
    | "URL"
    | "version"
    | "year-suffix"
}